body {
  background: center no-repeat;
  background-image: url('/Home.png');
  object-fit: cover;
  margin: 0;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: 'Cutive', serif;
  color: blue;
  font-size: 60px;
}

#loginButton {
  font-family: 'Cutive', serif;
  color: blue;
  font-size: 17px;
  padding-top: 7px;
  background-color: lime;
}

#goodPractice {
  display: flex;
  justify-content: center;
  margin-top: 220px;
}

.event-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 80vh;
}

ul {
  border: 2px solid black;
  border-radius: 1rem;
  backdrop-filter: blur(14px);
  box-shadow: 5px 10px 18px #b4101ebb;
  display: block;
  max-width: 40%;
  margin: 1rem auto;
  padding: 1rem;
}

ul > li {
  font-size: larger;
  color: black;
  list-style-type: none;
  padding: 0.5rem;
  padding-left: 2rem;
}

ul > li:first-child {
  font-size: x-large;
  font-family: 'Cutive', serif;
  color: black;
  list-style-type: none;
  padding: 0.5rem;
  padding-left: 2rem;
}

li > a {
  text-decoration: none;
  color: black;
}
